<% include head.ejs %>

<% include header.ejs %>

    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-3">
            <img src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-9 col-xs-offset-3 col-md-9">
            </div>
        </div>
    </div>

<% include footer.ejs %>
