</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="navbar-header">
      <a class="navbar-brand" href="/">Fantasy Tweet League</a>
      <ul class="nav navbar-nav">
        <li><a href="/how">Instructions</a></li>
      </ul>
  </div>
  </nav>
