<% include head.ejs %>
    <link rel="stylesheet" href="/stylesheets/bootstrap-social.css" />
    <link rel="stylesheet" href="/stylesheets/font-awesome.css" />
<% include header.ejs %>

    <div class="container">
        <div class="jumbotron">
        <h1>Fantasy Tweet League</h1>
        <a href="/auth/twitter" class="btn btn-social btn-twitter">
            <i class="fa fa-twitter"></i>
            Kick off with Twitter
        </a>
        </div>
    </div>

<% include footer.ejs %>
