<% include head.ejs %>

<% include header.ejs %>

    <div class="container">
        <div class="jumbotron">
        <h1>Fantasy Tweet League</h1>
        <a href="/auth/twitter" class="btn btn-primary">Kick off with Twitter</a>
        </div>
    </div>

<% include footer.ejs %>
