<% include head.ejs %>

<% include header.ejs %>

    <div class="container">
    	<img src="http://behindwoods.com/tamil-movies/slideshow/durai-english-ellam-pesudhu/images/vijay-thuppakki.jpg"/>
    </div>

<% include footer.ejs %>
