@font-face {
    font-family: BPL;
    src: url('../fonts/Barclays Premier League.ttf');
}

body {
    padding-top: 55px;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  z-index: -1;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
    
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.player-unselected .player-name{
    padding: 5px;
    font-family: 'BPL';
    font-size: 12px;
    color: #333;
}

.player-unselected .player-cost{
    padding: 5px;
    font-family: 'BPL';
    text-align: right;
    font-size: 12px;
    color: #333;
}

.image-grid-p img{
    width: 100px;
    height: 100px;
} 
.image-grid-p h3{
    margin-left: 10px;
}

.selectCont {
    width: 100%;
    height: 230px;
    display: block;
    border: 1px solid black;
    color: #333;
}

.selectCont a .player-selected {
    width: 120px;
    height: 120px;
    border: 1px solid #333;
    text-align: center;
    padding-top: 5px;
    margin: 0px 10px;
    float: left;
}

.financeData {
    text-align: center;
}

.selectCont a .player-selected:hover {
    cursor: pointer;
    opacity: 0.8;
}

.selectCont a .player-selected img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.player-unselected {
    float: left;
    width: 160px;
    height: 140px;
    padding: 10px 10px;
    margin: 10px 10px;
    border: 1px solid black;
    opacity: 0.8;
    text-align: center;
}

.player-unselected:hover {
    cursor: pointer;
    opacity: 1.0;
}

.player-unselected img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.player-selected .player-name{
    padding: 5px 0px;
    font-family: 'BPL';
    font-size: 11px;
    color: #333;
}

.player-selected .player-cost{
    font-family: 'BPL';
    padding: 5px 0px;
    font-size: 11px;
    text-align: right;
    color: #333;
}

#banner {
    font-family: 'BPL';
    text-align: center;
    font-size: 25px;
}

.gameIcon {
    float: right;
}

.gameIcon img {
    width: 70px;
    height: 70px;
}

.gameIcon .player-name {
    text-align: center;
    font-family: 'BPL';
}

.gameIcon .player-count {
    text-align: center;
    font-family: 'BPL';
}

.center {
    text-align: center;
}

.plFont {
    font-family: 'BPL';
}




.sign-in-img{
    border-radius: 25px;
    vertical-align: middle;
    height: 200px;
    width: 200px;
}

.waitease {
    text-align: center;
    font-family: 'BPL';
    margin-top: 100px;
}

.image-grid {    
    padding-bottom: 1px;
    margin-bottom: 20px;
    list-style: none;
    /*background: rgba(34, 34, 34, 0.5);*/
    color: #eee;
}
.image-grid a{
    height: 130px;
    width: 150px;
    cursor:pointer;
    float: left;
    padding: 10px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid grey;
    color: white;
    text-decoration: none;
    margin: 5px;
}


.image-grid img{
    width: 70px;
    height: 70px;
} 
.image-grid h3{
    margin-left: 10px;
}

.user-data{
    margin-top: 17px;
    color:#ddd;
    font-family: 'BPL';

}
.user-data #battle{
    padding-left: 50px;
    padding-right: 50px;
}

.stick-header {
    /*position:fixed; */
    width:100%;
    height:57px;
    /*top:0px; 
    left:0px;*/
    display:block;
}

.stick-selected-players {
    
    width:100%;
    /*height:240px;*/
    /*left:0px;*/
    display:block;
    color: #eee;
    background: rgba( 34, 34, 34, 0.8);
    z-index:10;
}

.stick-right-col {
    /*position: fixed;*/
    top: 325px;
    right:150px;
}

.player-select-holder {
    margin-top: 225px;
}
.teamDiv {
    background: #4c7f69;
    /*background: ;*/
    border-radius: 5px;
    border: 1px solid #588a74;
    height: auto;
    padding-bottom: 20px;
    text-align: center;
    color: #ccc;
    font-family: 'BPL' !important;
    font-size: 18px;
}
.teamDiv h3 {
    font-family: 'BPL';
}
.player {
    height: 110px;
    width:180px;
    text-align: center;
    font-family: 'BPL' !important;
    border: 0.5px solid grey;
    padding: 0px 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
}
#timer {
    position: fixed;
    font-size: 16pt;
    font-weight: bold;
    font-family: 'BPL';
}
#result {
    font-family: 'BPL';
    font-size: 16pt;
    text-align: center;
    background: rgba(34, 34, 34, 0.8);
}
.tempOp {
    transition: opacity 0.2s ease;
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    opacity: 1.0;
}
.player-count{    
    font-family: 'BPL';
    text-align: center;
}
.playerList {
    list-style: none;
    width: 100%;
    padding: 0px;
}
.image-grid .playerPic {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-grid-p .playerPic {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.player:hover {
    opacity: 1.0;
    cursor: pointer;
}

.image-grid-p {    
    margin-bottom: 20px;
    list-style: none;
    /*background: rgba(34, 34, 34, 0.5);*/
    color: #eee;
    height: 355px;
    overflow-y: scroll;
}
.image-grid-p a {
    height: 140px;
    width:180px;
    cursor:pointer;
    float: left;
    padding: 10px;
    margin: 0 -1px -1px 0;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid grey;
    color: white;
    text-decoration: none;
    margin: 5px;
    
}